/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 100%;
  line-height: 150%;
  background-color: #FFCC00; /* cmd yellow */
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.414em;
}
h3 {
  font-size: 1em; 
  font-weight: bold;
}
h4 {
  font-size: 1em; 
  font-weight: normal; 
  font-style: italic;
}
a {
  display: inline-block; 
  background-color: #FFCC00; 
  color: black;
  font-family: consolas, monospace;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover, a:active, a:focus {
  background-color: black; 
  color: #FFCC00;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
body > header a,
aside a {
  display: inline-block; 
  background-color: transparent; 
  color: #FFCC00;
}
/* flexbox structure page*/
body {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%; 
  height: 100%;
  margin: 0;
}
body > header, 
body > main, 
body > section.related, 
body > aside, 
body > footer {  
  padding: 2em;
  overflow: auto;
  background-color: white;
}


body > header {
  order: 1;
  flex: 4 0.95 auto;
  background-color: black; 
  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}   
    body > header h1 {
      font-size: 1.8em;
      line-height: 100%;
      margin-top: 0;
      color: white;
      text-shadow: 0px 1px 0px #FC0, 
                      0px 2px 0px #FC0, 
                      0px 3px 0px #FC0;
    }
    body > header p,
    body > header a {
      font-size: 1.14em
    }
    body > header ul {
      list-style: outside none none;
      padding: 0;
    }
    body > header li {
      font-size: 1.3em;
      padding: 0.3em 0;
    }
    body > header img {
      width: 70%;
      align-self: center;
    }
    body > header label, 
    body > header input  {
      display: inline-block;
      width: 100%;
    }
    body > header input {
      padding: 0.6em 0.8em;
    }
    body > header label + button {
      width: 100%;
      display: block;
      margin: 0.4em auto 0px;
      padding: 0.3em 0em;
    }


body > main {
  order: 1;
  flex: 7 1 auto;
}
    body > main article {
      padding: 4em 0;
    }
    body > main.form-block h1 {
      margin-top: 3em;
    }
    body > main.form-block {
      flex: 7 0.7 auto;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
    }
    body > main h1,
    body > main h2,
    body > main h3,
    body > main h4,
    body > main ol,
    body > main p,
    body > main form,
    body > main div,
    body > main picture {
      padding-left: 0rem;
      padding-right: 0rem;
    }
    body > main h1 {
      font-size: 2em;
    }
    body > main h2 {
      font-size: 1.414em;
    }
    body > main h3,
    body > main h4 {
      font-size: 1em;
    }
    body > main h4 {
      font-style: italic;
      font-weight: normal;
    }
    body > main p {
      line-height: 160%;
    }
    body > main article img {
      width: 80%;
      margin-left: 10%;
    }
    body > main article picture img {
      width: 100%;
      margin-left: 0;
    }
    body > main ol {
      padding-left: 10rem;
    }
    body > main li {
      margin-bottom: 0.5em; 
    }
    body > main form fieldset {
      margin-bottom: 1em;
      background-color: #E9E9E9;
      border: 1px solid #6E6E6E;
      border-radius: 0em 1.5em;
    }
    body > main form fieldset legend {
      
    }
    body > main form fieldset:nth-child(2) {
      border-radius: 1.5em 0em;
    }
    html body > main form fieldset fieldset:nth-child(n) {
      border-radius: 0em 1.5em 0em; 
    }
    body > main form label {
      width: 100%;
      display: block;
      position: relative;
      margin-bottom: 1em;
    }
    body > main form label em {
      position: absolute;
      top: 1.5em;
      right: 0;
    }
    body > main form label input,
    body > main form label textarea {
      display: block;
      width: 80%;
    }
    body > main form label input[type="radio"],
    body > main form label input[type="checkbox"] {
      display: inline-block;
      width: auto;
    }
    body > main div {}
    body > main video {
      margin: 1em 0;
      width: 100%;
    }


body > section.related {
  order: 3;
  flex: 3 1 auto;
  padding: 2em;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
body > main.form-block ~ section.related {
  flex: 3 1.12 auto;
} 
    body > section.related h2 {
      flex: 1 0 90%;
      margin: 1em 0;
      margin-bottom: 0.7em;
    }
    body > section.related article {
      flex: 0 1 100%;
      margin-bottom: 4em;
      padding-bottom: 4em;
      background-color: black;
      color: white;
    }
    body > section.related article header {
      padding: 1rem 0 1rem 0;
      border-top: 1em solid black;
      background-color: #FFCC00;
      color: black;
    }
    body > section.related article h3,
    body > section.related article h4,
    body > section.related article p,
    body > section.related article dl {
      margin-left: 4rem;
      margin-right: 4rem; 
    }
    body > section.related article dt {
      font-weight: bold;
    }
    body > section.related article dd {
      margin-left: 2em;
    }


body > aside {
  padding: 2em;
  order: 2;
  flex: 7 1 auto;
  background-color: black;
  color: white;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}
    body > aside section {
      flex: 1 1 100%;
    }
    body > aside section article {
      padding: 1em 2em 2em;
      margin-bottom: 2em;
      line-height: 160%;
      background-color: white;
      color: black;
    }
    body > aside section article a {
      background-color: #FFCC00;
      color: #000;
    }

body > footer {
  order: 3;
  flex: 3 1 auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}   
    body > footer section {
      margin-bottom: 2em;
    }
    body > footer section:first-child {
      order: 5;
    }

    body > footer ul li ul {
      margin: 0.3em;
    }
    body > footer ul li ul li {
      margin: 0.3em;
    }
    body > footer > p {
      margin-bottom: 4em;
    }

.disabled {
  display: none;
}

@media (min-width: 37.5em) {
  body > header, 
  body > main, 
  body > section.related, 
  body > aside, 
  body > footer {
    margin: 2em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 8px 6px 0px #604D00;
    -moz-box-shadow: 5px 8px 6px 0px #604D00;
    box-shadow: 5px 8px 6px 0px #604D00;
  }
  body > main h1,
  body > main h2,
  body > main h3,
  body > main h4,
  body > main ol,
  body > main p,
  body > main form,
  body > main div,
  body > main picture {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  body > main article picture img {
    width: 80%;
    margin-left: 0;
  }
}
@media (min-width: 46em) {
  body > main h1,
  body > main h2,
  body > main h3,
  body > main h4,
  body > main ol,
  body > main p,
  body > main form,
  body > main div,
  body > main picture {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 51em) {
  body {
    flex-flow: row nowrap;
    width: 400vw; 
    height: 100%;
  }
  body > header, 
  body > main, 
  body > section.related, 
  body > aside, 
  body > footer { 
    /* standard block */  
    padding: 2em;
    margin: 2em;
    overflow: auto;
    height: 89vh;
    -webkit-box-shadow: inset 3px 4px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 3px 4px 2px 0px rgba(0,0,0,0.5);
    box-shadow: inset 3px 4px 2px 0px rgba(0,0,0,0.5);
  }
  body > header li {
    font-size: 1em;
    padding: 0 0 0.2em;
  }
  body > main h1,
  body > main h2,
  body > main h3,
  body > main h4,
  body > main ol,
  body > main p,
  body > main form,
  body > main div,
  body > main picture {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  body > main article picture img {
    width: 75%;
    margin-left: 0;
  }
}
@media (min-width: 60em) {
  body {
    width: 360vw;
  }
  body > aside section {
    flex: 1 1 40%;
  }
  body > aside section:first-child {
    margin-right: 1em; 
  }
  body > aside section:last-child {
    margin-left: 1em; 
  }
}
@media (min-width: 75em) {
  body {
    width: 333vw;
  }
}
@media (min-width: 82.5em) {
  body {
    width: 300vw;
  }
}
@media (min-width: 87em) {
  body {
    width: 250vw;
  }
}