/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

header {
  margin: 0 0 1em 0;
  padding: 1em;
  background-color: hsl(100, 35%, 80%); 
}

main {
  margin: 1em 0;
  padding: 1em;
  background-color: hsl(50, 35%, 80%);
}

section.related {
  background-color: hsl(20, 35%, 80%);
  position: relative;
  padding-top: 4em;
  margin: 1em 0;
  width: 100%;

  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
section.related > h2 {
  position: absolute;
  top: 0px;
  display: block;
  width: 100%;
  padding: 1em 1.4em;
  margin: 0;
}

article {
  background-color: hsl(50, 0%, 80%);
  margin: 1em;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
article > p {
  margin: 1em;
}
article > blockquote {
  margin: 1em 2em;
  font-style: italic;
}
article footer {
  order: 3;
}

aside {
  margin: 1em 0;
  padding: 1em;
  background-color: hsl(300, 35%, 80%);

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
aside > section {
  width: 50%;
}

footer {
  margin: 1em 0;
  padding: 1em;
  background-color: hsl(200, 35%, 80%);
}