/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: white; 
  padding: 14em 2em;
}

/* main header */
  body > header {
    margin: 0 0 1em 0;
    padding: 1em;
    position: fixed;
    z-index: 999;
    top: 0; 
    left: 0; 
    right: 0;
    overflow: auto;
    color: white;
    background-color: black;
  }
  body > header img {
    height: 4em;
    position: absolute;
    left: 1em;
    top: 1em;
  }
  body > header h1, 
  body > header h1 + p {
    margin: 0 0 0 16rem;
  }

  /* main menu */
  body > header ul {
    list-style: outside none none;
    padding: 0px;
    position: relative;
    height: 1.5em;
  }
  body > header li {
    background-color: rgb(255, 204, 0); /* cmd yellow */
    width: 11em;
    margin-bottom: 5px;
    padding: 0.1em;
    position: absolute;
    top: 0; 
  }
  body > header li:nth-child(1) {left: 0;}
  body > header li:nth-child(2) {left: 12em;} 
  body > header li:nth-child(3) {left: 24em;} 
  body > header li:nth-child(4) {left: 36em;}
  body > header li:nth-child(5) {left: 48em;} 
  body > header li a {color: black;}

  body > header a {color: rgb(255, 204, 0);} /* cmd yellow */
  body > header form, body > header form + p {text-align: center; margin: 1em 0 0 0;}
  body > header input {width: 21em;}

main {
  margin: 1em 0;
  padding: 2em 0;
  background-color: hsl(50, 0%, 20%);
}
article {
  background-color: hsl(50, 0%, 80%);
  padding: 2em;
}
main article {
  width: 44em;
  margin: 0 auto;
}
main article img {
  width: 40em;
}


section.related {
  background-color: hsl(20, 35%, 80%);
  position: relative;
  padding-top: 4em;
  margin: 1em 0;
  width: 100%;

}
section.related > h2 {
  position: absolute;
  top: 0px;
  display: block;
  width: 100%;
  padding: 1em 1.4em;
  margin: 0;
}


article > p {
  margin: 1em;
}
article > blockquote {
  margin: 1em 2em;
  font-style: italic;
}
article footer {
  order: 3;
}

aside {
  margin: 1em 0;
  padding: 1em;
  background-color: hsl(300, 35%, 80%);
}
aside > section {
  width: 50%;
}

footer {
  margin: 1em 0;
  padding: 1em;
  background-color: hsl(200, 35%, 80%);
}