/* apply a natural box layout model to all elements, but allowing components to change */

/* 1.41429 aprox sqrt(2) */
/* 2.00021 */
/* 2.82888 */
/* 4.00086 */

h1 {font-size: 2.00021em;}
h2 {font-size: 1.41429em;}
h3 {font-size: 1em; font-weight: bold;}
h4 {font-size: 1em; font-weight: normal; font-style: italic;}

html {
  box-sizing: border-box;
  font-size: 100%;
  line-height: 150%;
  background-color: #FFCC00; /* cmd yellow */
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {display: inline-block; background-color: #FFCC00; color: black;}
body > header a,
aside a {display: inline-block; background-color: transparent; color: #FFCC00;}

/* flexbox structure page*/
body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
   width: 250vw; /* makes body 2.5 viewport width 
    value probably needs some tweaking]*/
}
body > header, 
body > main, 
body > section.related, 
body > aside, 
body > footer { 
  /* standard block */  
  padding: 2em;
  margin: 2em;
  overflow: auto;
  height: 85vh;
  background-color: white;
}


body > header {
  order: 1;
  flex: 0 1 25em;
  background-color: black; 
  color: white;
}   
    body > header h1 {
      font-size:  1.41429em;
      line-height: 100%;
    }
    body > header img {
      width: 100%;
    }


body > main {
  order: 2;
  flex: 4 1 45em;
}
    body > main article {
      padding: 4em 0;
    }
    body > main h1,
    body > main h2,
    body > main h3,
    body > main h4,
    body > main ol,
    body > main p,
    body > main form {
      padding-left: 7rem;
      padding-right: 7rem;
    }
    body > main h1 {
      font-size: 2.00021em;
    }
    body > main h2 {
      font-size: 1.41429em;
    }
    body > main h3,
    body > main h4 {
      font-size: 1em;
    }
    body > main h4 {
      font-style: italic;
      font-weight: normal;
    }
    body > main p {
      line-height: 160%;
    }
    body > main article img {
      width: 80%;
      margin-left: 10%;
    }
    body > main ol {
      padding-left: 10rem;
    }
    body > main li {
      margin-bottom: 0.5em; 
    }
    body > main form fieldset {
      margin-bottom: 1em;
    }
    body > main form label {
      width: 100%;
      display: block;
      position: relative;
      margin-bottom: 1em;
    }
    body > main form label em {
      position: absolute;
      top: 1.5em;
      right: 0;
    }
    body > main form label input,
    body > main form label textarea {
      display: block;
      width: 80%;
    }
    body > main form label input[type="radio"],
    body > main form label input[type="checkbox"] {
      display: inline-block;
      width: auto;
    }


body > section.related {
  order: 4;
  flex: 5 1 25em;
  padding: 2em;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
    body > section.related h2 {
      flex: 1 0 90%;
      margin: 1em 0;
      margin-bottom: 0.7em;
    }
    body > section.related article {
      flex: 0 1 100%;
      margin-bottom: 4em;
      padding-bottom: 4em;
      background-color: black;
      color: white;
    }
    body > section.related article header {
      padding: 1rem 0 1rem 0;
      border-top: 1em solid black;
      background-color: #FFCC00;
      color: black;
    }
    body > section.related article h3,
    body > section.related article h4,
    body > section.related article p {
      margin-left: 4rem;
      margin-right: 4rem; 
    }


body > aside {
  padding: 2em;
  order: 3;
  flex: 4 2 45em;
  background-color: black;
  color: white;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}
    body > aside section {
      flex: 1 1 40%;
    }
    body > aside section:first-child {
      margin-right: 1em; 
    }
    body > aside section:last-child {
      margin-left: 1em; 
    }
    body > aside section article {
      padding: 1em 2em 2em;
      margin-bottom: 2em;
      line-height: 160%;
      background-color: white;
      color: black;
    }
    body > aside section article a {
      background-color: #FFCC00;
      color: #000;
    }

body > footer {
  order: 5;
  flex: 5 1 25em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}   
    body > footer section {
      margin-bottom: 2em;
    }
    body > footer section:first-child {
      order: 5;
    }

    body > footer ul li ul {
      margin: 0.3em;
    }
    body > footer ul li ul li {
      margin: 0.3em;
    }
    body > footer > p {
      margin-bottom: 4em;
    }
